All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job)%></ul>
<% end %>

<%= link_to "New Job", new_company_job_path(@company) %>

<% unless @company.contacts.empty? %>
<h4>Contacts</h4>
<table>
  <th>Name</th><th>Position</th><th>Email</th>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.position %></td>
      <td><%= contact.email %></td>
    </tr>
  <% end %>
</table>
<% end %>

<h4>New Contact</h4>
<%= form_for @contact do |f| %>

  <%= f.hidden_field :company_id, value: @company.id %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :position %>
  <%= f.text_field :position %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>
