<h3>All Companies</h3>

<table class="table">
  <% @companies.each do |company| %>
    <tr class=company_<%= company.id %>>
      <td><%= link_to company.name, company_path(company) %> - <%= company.city %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Delete", company_path(company), method: "delete" %></td>
    </tr>
  <% end %>
</table>
