<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default navbar-static-top site-header">
    <div class="container">
      <div class="navbar-header">
        <h3 class="site-title"><%= link_to "Job Tracker:", '/dashboard' %> Revolutionizing the way you track jobs</h3>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Companies", '/companies?sort=location' %></li>
          <li><%= link_to "Jobs", '/jobs?sort=interest' %></li>
          <li><%= link_to "Categories", categories_path %></li>

        </ul>
      </div>
    </div>
  </nav>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

<div class="container">
  <div class="jumbotron">
    <%= yield %>
  </div>
</div>

</body>
</html>
